<div class="container">
  <img src="assets/bg.jpg" alt="Snow" style="width:100%;" class="banner">
  <div class="centered">RESULT OF THE TEST</div>
  <div class="centered-icon">
    
    <i class="material-icons"><img src="assets/image1.jpg" alt="calendar"></i>
    <i class="material-icons"><img src="assets/image2.jpg" alt="calendar"></i>
    <i class="material-icons"><img src="assets/image3.jpg" alt="calendar"></i>
    <i class="material-icons"><img src="assets/image4.jpg" alt="calendar"></i>
    <i class="material-icons"><img src="assets/image5.jpg" alt="calendar"></i>
  </div>
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value={{setValue}} [(ngModel)]="setValue" step="1" class="slider" id="reset">

    <div class="slidecontainer-text">
      <p class="relevant1">LESS RELEVANT</p>
      <p class="relevant2">RELEVANT</p>
      <p class="relevant3">VERY RELEVANT</p>
    </div>
  </div>
  <img src="assets/button.png" class="button" (click)="reset()">
</div>